{% extends 'base.html.twig' %}

{% block title %}Gestion des publications{% endblock %}

{% block body %}
<div class="actions">
    <a href="{{ path('app_postadmin_add') }}">Ajouter</a>
</div>

<table class="data-list">
    <thead>
    <tr><th>id</th><th>Titre</th><th>Date de création</th><th></th></tr>
    </thead>

    <tbody>
    {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td><td>{{ post.title }}</td><td>{{ post.createdAt | date('Y-m-d') }}</td>
            <td><a href="{{ path('app_postadmin_update', {id: post.id}) }}">Modifier</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
