{% extends 'base.html.twig' %}

{% block title %}Gestion des publications{% endblock %}

{% block body %}
<div class="actions">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_postadmin_add') }}">Ajouter</a>
    {% endif %}
    {{ form_start(filter_form) }}
    {{ form_widget(filter_form) }}
    <button>Rechercher</button>
    {{ form_end(filter_form) }}
</div>

<table class="data-list">
    <thead>
    <tr><th>id</th><th>Titre</th><th>Date de création</th><th></th></tr>
    </thead>

    <tbody>
    {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td><td>{{ post.title }}</td><td>{{ post.createdAt | date('Y-m-d') }}</td>
            <td>
                {% if is_granted('ROLE_ADMIN') or is_granted('POST_EDIT', post) %}
                    <a href="{{ path('app_postadmin_update', {id: post.id}) }}">Modifier</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('POST_DELETE', post) %}
                    <a href="{{ path('app_postadmin_delete', {id: post.id}) }}">Supprimer</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
