{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>{{ post.title }}</h1>
    <div>{{ 'data.post.authoring.published_by'|trans({
            'date': post.createdAt | date('m/d/Y'),
            'email': post.writtenBy.email
        }) }}</div>
    <div>{{ 'data.post.authoring.categorized'|trans({
            'cat': post.categorizedBy.name | default('none'|trans)
        }) }}</div>
    <div>{{ post.body }}</div>
</article>
<div class="side-column">
    {{ render_hinclude(controller('App\\Controller\\PostController::indexSameCategory', {post: post.id})) }}
</div>
{% endblock %}

{% block title %}
{{ post.title }}
{% endblock %}
